// /* ======= Hero Section ======= */
.hero-section {
    min-height: 560px;
    background: url('../images/hero-1.jpg');
    position: relative;
    padding: 5rem 4rem;
}

.hero-content {
    color: white;
    .heading {
        font-weight: bold;
    }
}




